.container.img-responsive
  = form_for [:admin, @event] do |f|
    .row
      - if @event.image_url_id.present?
        .three.columns
          = f.label :image_url, "Event Main Image"
          = image_tag attachment_url(@event, :image_url)
        .four.columns
          = f.label :image_url, "Update Event Main Image"
          = f.attachment_field :image_url
      - else
        .twelve-columns
          = f.label :image_url, "Event Main Image"
          = f.attachment_field :image_url
    .four.columns
    .row
      .six.columns
        = f.label :title
        = f.text_field :title, class: "w-100"
        = f.label :sub_title
        = f.text_field :sub_title, class: "w-100"
        = f.label :photos_files
        = f.attachment_field :photos_files, multiple: true
        = label_tag :is_featured do
          = f.check_box :is_featured, {}, "true", "false"
          Is this a featured event?
      .six.columns
        = f.label :location
        = f.text_field :location, class: "w-100"
        = f.label :photographer
        = f.text_field :photographer, class: "w-100"
        = f.label :date, "Date of Event"
        = f.date_field :date, class: "date-select"
        / = f.label :vips, "People at event"
        / = text_field_tag :vips, nil, class: "w-100", placeholder: "Please separate people using commas, ie. John Smith, Jada Smith, Pharrell Williams"
        - if @event.vips.present?
          = label_tag "Current people listed at event"
          %p
            = vip_list(@event)
    .row
      .twelve.columns
        = f.submit 'submit', :class => "button w-100"

      - @event.photos.each_slice(4) do |photos|
        .row
          - photos.each do |photo|
            .three.columns.img-size-edit
              %strong Image ID:
              = photo.id
              = image_tag attachment_url(photo, :file, :limit, 270, 270) # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
              %span.u-pull-left
                = link_to edit_admin_event_photo_path(@event, photo) do
                  .span.fa.fa-edit
                  Edit
              %span.u-pull-right
                = link_to admin_event_photo_path(@event, photo), method: :delete, data: {confirm: "Delete image #{photo.id}?   WARNING: If you've made changes to the event, please save the event first."} do
                  .span.fa.fa-remove
                  Delete
              - if photo.vips.any?
                %span.u-cf
                  %strong People:
                  = vip_list(photo)