%section.content-box
  .container
    #tab-container.sign-tab.tab-container
      %ul.etabs
        %li.tab
          %a{:href => "#signin"} SIGN IN
        %li.tab
          %a{:href => "#signup"} SIGN UP
      #signin
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %p
            = f.label "EMAIL"
            = f.email_field :email, autofocus: true
          %p
            = f.label "PASSWORD"
            = f.password_field :password, autocomplete: "off"
            %span.forgot
              Forgot your password?
              = link_to "Send reset instructions", new_password_path(resource_name)
          = f.submit "Sign in", id: "submit"
          %span.mandatory
      #signup
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          %p
            = f.label "* FIRST NAME"
            = f.text_field :first_name, autofocus: true
          %p
            = f.label "* LAST NAME"
            = f.text_field :last_name, autofocus: true
          %p
            = f.label "* EMAIL"
            = f.email_field :email, autofocus: true
          %p
            = f.label "* PASSWORD"
            = f.password_field :password, autocomplete: "off"
          %p
            = f.label "* PASSWORD CONFIRMATION"
            = f.password_field :password_confirmation, autocomplete: "off"
          %p
            = f.submit "Sign up", id: "submit"
            %span.mandatory
              * fields with an asterisk are mandatory
:javascript
  $(document).ready(function(){
      $('#tab-container').easytabs();
  });