= render "layouts/admin/nav"
.container.img-responsive
  .row
    .four.columns
      = image_tag attachment_url(@photo, :file, :fill_watermark_dhpa, 564, 323, @photo.id) # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
    = form_for [:admin, @event, @photo] do |f|
      .six.columns
        %label
          Image ID
        %p
          = @photo.id
        = f.label :digital_price_in_dollars, "Custom Price (default is #{number_to_currency default_price(dollars: true)})"
        = f.number_field :digital_price_in_dollars, step: 0.01, value: number_with_precision(f.object.digital_price_in_dollars, :precision => 2)

        = f.label :vips, "Add specific people to this photo"
        = text_field_tag :vips, nil, class: "w-100", placeholder: "Please separate people using commas, ie. John Smith, Jada Smith, Pharrell Williams"

        - if @photo.vips.present?
          = label_tag "Current people listed in photo"
          %p
            = vip_list(@photo)
        = f.submit
        / = f.select :model_ids, options_from_collection_for_select(@event.vips.all, :id, :name, :selected => @video.model_ids), {}, { :multiple => true, class: "full-width", :size => "10" }
