%section.content-box.purchased
  .container
    %h2.page-title
      PURCHASE #
      = @order.id.to_s.rjust(4, '0')
    - @order.line_items.each do |item|
      .row
        .three.columns
          - if item.delivery_option.license == LineItem::editorial_license
            = image_tag attachment_url(item.photo, :file, format: "jpg") # Editorial Use = full rez
          - else
            = image_tag attachment_url(item.photo, :file, :limit, personal_image_size, personal_image_size, format: "jpg") # Private Use = smaller rez
        .three.columns
          %p
            %strong Image ID:
            = item.photo.id
          %p
            %strong Event:
            = item.photo.event.title
          %h5 Date:
          %p= item.photo.event.date
        .three.columns.offset-by-one
          %p
            %strong LICENSE TYPE:
            = item.delivery_option.license
          // %p
          //   %b SIZE:
          //   = display_size(item)
          %p
            %strong People:
            = vip_list_links(item.photo)
        .two.columns
          - if item.is_digital?
            - if item.delivery_option.license == LineItem::editorial_license
              = link_to "DOWNLOAD", attachment_url(item.photo, :file, format: "jpg"), class: "button", download: "dhpa_photo_#{item.photo.id}.jpg" # Editorial Use = full rez
            - else
              = link_to "DOWNLOAD", attachment_url(item.photo, :file, :limit, personal_image_size, personal_image_size, format: "jpg"), class: "button", download: "dhpa_photo_#{item.photo.id}.jpg" # Private Use = smaller rez
  .container
    .row
      - if current_user.is_admin?
        %label.two.columns.offset-by-eight USER INFO:
        .two.columns
          %p
            %span= @order.user.first_name
            %span= @order.user.last_name
            %br
            %span= @order.user.email
      %label.two.columns.offset-by-eight CONTACT INFO:
      .two.columns
        %p
          %span= @order.order_shipping_info.first_name
          %span= @order.order_shipping_info.last_name
          %br
          %span= @order.order_contact_info.email
          %br
          %span= @order.order_shipping_info.street
          %br
          %span= @order.order_shipping_info.city
          %span= @order.order_shipping_info.state
          %span= @order.order_shipping_info.zipcode
          %span= @order.order_shipping_info.country
    .row
      %label.two.columns.offset-by-eight ORDER DATE:
      .two.columns= @order.created_at.strftime("%A, %b %d %Y")
    .row
      %label.two.columns.offset-by-eight CREDIT CARD:
      .two.columns= "#{@order.payment_info.brand} ending in #{@order.payment_info.last4}"
    .row
      %label.two.columns.offset-by-eight ORDER TOTAL:
      .two.columns#price.price= number_to_currency calculate_subtotal(@order, dollars: true) #+ Order::SHIPPING_PRICE