%section.content-box.purchased
  .container
    %h2.page-title PURCHASED
    - @order.line_items.each do |item|
      .row
        .three.columns
          - if item.delivery_option.license == "Commercial Use"
            = image_tag attachment_url(item.photo, :file) # Commercial Use = full rez
          - else
            = image_tag attachment_url(item.photo, :file, :limit, personal_image_size, personal_image_size) # Private Use = smaller rez
          %span.filename
            ="Photo # #{item.photo.id}"
        .three.columns
          %p
            %strong People:
            = vip_list(item.photo)
          %p
            %strong Event:
            = item.photo.event.title
          %h5 Date:
          %p= item.photo.event.date
        .three.columns.offset-by-one
          %p
            %strong LICENSE TYPE:
            = item.delivery_option.license
          / %h5 How can I use it?
          / %p
          /   Available for all permitted uses under our
          /   %a{:href => "#"} License Terms
        .two.columns
          - if item.is_digital?
            - if item.delivery_option.license == "Commercial Use"
              = link_to "DOWNLOAD", attachment_url(item.photo, :file), class: "button" # Commercial Use = full rez
            - else
              = link_to "DOWNLOAD", attachment_url(item.photo, :file, :limit, personal_image_size, personal_image_size), class: "button" # Private Use = smaller rez

