%ul.bxslider
  = render partial: "events/top_slider", collection: @top_featured_events
:javascript
  $(document).ready(function(){

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('.bxslider').remove();
    
    } else {

      $('.bxslider').bxSlider({
        mode: 'fade',
        infiniteLoop: 'true',
        responsive: 'false',
        controls: 'true',
        pager: 'true',
        auto: 'true',
        pause: 8000
      });

      $("body").attr("class", "home");
    }

  });
= render "layouts/mid_searchbar"
%section.events
  .container
    .events-content
      %h5 LATEST EVENTS
      %ul.event-gallery-list.event-details.four-columns
        = render partial: 'events/event_details', collection: @latest_events
    .row.center
      = link_to "VIEW MORE", events_path, class: "button"
      %br &nbsp;

%section.bg-dark.homefeatured
  .container
    %h5 FEATURED CONTENT
    %ul.featured-list
      - @featured_events.each do |event|
        %li
          - if event.is_private?
            .image-overlay-wrapper
              .image-overlay= "PRIVATE"
          = link_to event do
            %span.caption= event.title
          = image_tag attachment_url(event, :image_url, :fill, 800, 480), oncontextmenu: "return false"

%section.instagramfeed
  .container
    .row
      .three.columns
        %h5
          = link_to "https://www.instagram.com/dhpamiami" do
            %i.fa.fa-instagram>
            Instagram Feed
        %p
      .nine.columns
        %ul.instagram-list
          - @instagram_json['items'].each do |item|
            %li
              = link_to item['link'], target: "_blank", title: item['caption']['text'] do
                = image_tag item['images']['low_resolution']['url']
