%li
  = link_to event_details do
    - if event_details.is_private?
      .image-overlay-wrapper
        .image-overlay= "PRIVATE"
    = image_tag attachment_url(event_details, :image_url, :limit, 800, 480), oncontextmenu: "return false"
  %h5
    = link_to event_path(event_details) do
      = event_details.title
      - if event_details.sub_title.present?
        %br
        = "(#{event_details.sub_title})"
  %span.subtitle #{event_details.location}
  %span.muted.strong= date_of_event(event_details)
