= render "layouts/mid_searchbar"
%section.darkbar
  .container
    .row
      .twelve.columns
        %ul.menu
          %li
            %a.toggle{:href => "#", "data-target" => ".people-menu"} People
            %ul.submenu.people-menu{style: "display: none"}
              - @event.vips.each do |vip|
                %li=vip.name
          %span.u-pull-right
            %li
              %a{:href => "#"} Event
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Date
            %li
              %a{:href => "#"} Photographer
%section.gallery-box
  .container
    .event-header
      %span.image-number #{@photos.count} Images
      %h3 #{@event.title}
      %span.subtitle #{@event.sub_title}
      %span.photographer Photographer: #{@event.photographer}
      %span.location #{@event.location}
      %span.date
        = date_of_event(@event)
    %ul.event-gallery-list
      = render @photos
:javascript
  $(document).ready(function(){
      $('#tab-container').easytabs();
  });

#popup
