= render "layouts/mid_searchbar"
%section.darkbar
  .container
    .row
      .twelve.columns
        %ul.menu
          %li
            %a.toggle{:href => "#", "data-target" => ".people-menu"} People
            %ul.submenu.people-menu{style: "display: none"}
              - @event.vips.each do |vip|
                %li=vip.name
          %span.u-pull-right
            %li
              %a{:href => "#"} Event
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Date
            %li
              %a{:href => "#"} Photographer
- if current_user.present? && current_user.lightboxes.count > 0
  #lightbox-wrapper
    = render "lightboxes/show_modal"
%section.gallery-box
  .container
    .row.event-header
      .six.columns
        %h3 #{@event.title}
        %span.subtitle #{@event.sub_title}
        %span.photographer Photographer: #{@event.photographer}
        %span.location #{@event.location}
        %span.date
          = date_of_event(@event)
      .six.columns.align-right
        %div.large #{@photos.count} Images
        %div
          %strong Keywords:
          = @event.tag_list
    %ul.event-gallery-list
      = render @photos
:javascript
  $(document).ready(function(){
      $('#tab-container').easytabs();
  });

#popup
