%section.content-box
  .container
    %h2.page-title.center DHPA SERVICES
    .row.services
      .three.columns
        = image_tag "studio"
        %h5 STUDIO
      .three.columns
        = image_tag "video"
        %h5 VIDEO
      .three.columns
        = image_tag "weddings"
        %h5 WEDDINGS
      .three.columns
        = image_tag "socialmedia"
        %h5 SOCIAL MEDIA
  .container.center
    %h2.page-title.center HAVE AN UPCOMING EVENT?
    = link_to "HIRE DHPA", contact_us_path, class: "button"