%section.content-box
  .container

    - if current_or_guest_user
      #purchase-terms
        %h2.page-title Please Accept Before Continuing
        = render 'pages/terms_and_conditions', licenses_only: true
        .center
          %a{href:"#close", rel:"modal:close", class: "button"} Accept Terms
  
      :javascript
        $(document).ready(function(){
    
            $('#purchase-terms').modal({
              clickClose: false,
              escapeClose: false,
              showClose: false,
            });
  
        });

      #checkout-step2
        .row
          .six.columns.align-left
            = form_for @payment_info, url: payment_infos_path, html: { id: "payment-form", "data-stripe-key": "#{ENV['STRIPE_PUBLISHABLE_KEY']}"} do |f|
              %h2.page-title PAYMENT INFO
              %p * FIELDS WITH AN ASTERISK ARE MANDATORY
              %p
              %p
                = f.label :first_name, "* FIRST NAME"
                = f.text_field :first_name
              %p
                = f.label :last_name, "* LAST NAME"
                = f.text_field :last_name
              %p
                = f.label :street, "* ADDRESS"
                = f.text_field :street
              %p.third
                = f.label :city, "* CITY"
                = f.text_field :city
              %p.third
                = f.label :state, "* STATE"
                = f.text_field :state
              %p.third.last
                = f.label :zipcode, "* POSTAL CODE"
                = f.text_field :zipcode
              %p
                = f.label :country, "* COUNTRY"
                = f.text_field :country
              %p
                %span.payment-errors.error
                %label * CARD NUMBER
                %input{:type => "text", size: "20", "data-stripe": "number"}/
              %p.third
                %label * MONTH
                %input{:type => "text", size: "2", "data-stripe": "exp-month", value: @payment_info.exp_month}/
              %p.third
                %label * YEAR
                %input{:type => "text", size: "4", "data-stripe": "exp-year", value: @payment_info.exp_year}/
              %p.third.last
                %label * CVC
                %input{:type => "text", size: "20", "data-stripe": "cvc"}/
              %p
              %h2.page-title CONTACT INFO
              %p
              %p
                = f.label :email, "* EMAIL"
                = f.email_field :email
                = f.submit "NEXT STEP: CONFIRM PURCHASE"
          .six.columns.align-right
            = render 'orders/preview'


    - else
      %h2.page-title.center CHECK OUT
      #checkout-step1
        .row
          .twelve.columns.align-center
            #tab-container.sign-tab.tab-container
              %ul.etabs
                %li.tab
                  %a{:href => "#signin"} SIGN IN
                %li.tab
                  %a{:href => "#signup"} SIGN UP
              #signin
                = render 'devise/shared/sign_in_form'
              #signup
                = render 'devise/shared/sign_up_form'
            :javascript
              $(document).ready(function(){
                  $('#tab-container').easytabs();
              });
          /.six.columns.align-right
          /  %span.mandatory +PROCEED TO CHECK OUT AS A GUEST
          /  = link_to "CONTINUE AS A GUEST", create_guest_user_path, class: "blackbutton"
