%section.content-box
  .container
    #purchase-terms
      %h2.page-title Please Accept Before Continuing
      = render 'pages/terms_and_conditions'
      .center
        %a{href:"#close", rel:"modal:close", class: "button"} Accept Terms

    :javascript
      $(document).ready(function(){
  
          $('#purchase-terms').modal({
            clickClose: false,
            escapeClose: false,
            showClose: false,
          });

      });

    - if current_or_guest_user

      #checkout-step2
        .row
          .six.columns.align-left
            = form_for @payment_info, url: payment_infos_path, html: { id: "payment-form", "data-stripe-key": "#{ENV['STRIPE_PUBLISHABLE_KEY']}"} do |f|
              %h2.page-title PAYMENT INFO
              %span.mandatory * fields with an asterisk are mandatory
              %p
              %p
                = f.label :first_name, "* FIRST NAME"
                = f.text_field :first_name
              %p
                = f.label :last_name, "* LAST NAME"
                = f.text_field :last_name
              %p
                = f.label :street, "* ADDRESS"
                = f.text_field :street
              %p.third
                = f.label :city, "* CITY"
                = f.text_field :city
              %p.third
                = f.label :state, "* STATE"
                = f.text_field :state
              %p.third.last
                = f.label :zipcode, "* POSTAL CODE"
                = f.text_field :zipcode
              %p
                = f.label :country, "* COUNTRY"
                = f.text_field :country
              %p
                %span.payment-errors.error
                %label * CARD NUMBER
                %input{:type => "text", size: "20", "data-stripe": "number"}/
              %p.third
                %label * MONTH
                %input{:type => "text", size: "2", "data-stripe": "exp-month", value: @payment_info.exp_month}/
              %p.third
                %label * YEAR
                %input{:type => "text", size: "4", "data-stripe": "exp-year", value: @payment_info.exp_year}/
              %p.third.last
                %label * CVC
                %input{:type => "text", size: "20", "data-stripe": "cvc"}/
              %p
              %h2.page-title CONTACT INFO
              %p
              %p
                = f.label :email, "* EMAIL"
                = f.email_field :email
                = f.submit "NEXT STEP: CONFIRM PURCHASE"
          .six.columns.align-right
            = render 'orders/preview'


    - else
      %h2.page-title CHECK OUT
      #checkout-step1
        .row
          .six.columns.align-left
            #tab-container.sign-tab.tab-container
              %ul.etabs
                %li.tab
                  %a{:href => "#signin"} SIGN IN
                %li.tab
                  %a{:href => "#signup"} SIGN UP
              #signin
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  %p
                    = f.label "EMAIL"
                    = f.email_field :email, autofocus: true
                  %p
                    = f.label "PASSWORD"
                    = f.password_field :password, autocomplete: "off"
                    %span.forgot
                      Forgot your password?
                      = link_to "Send reset instructions", new_password_path(resource_name)
                  = f.submit "Sign in", id: "submit"
                  %span.mandatory
                    * fields with an asterisk are mandatory
              #signup
                %form
                  %p
                    %label FIRST NAME
                    %input{:type => "text"}/
                  %p
                    %label LAST NAME
                    %input{:type => "text"}/
                  %p
                    %label * EMAIL
                    %input{:type => "text"}/
                  %p
                    %label * PASSWORD
                    %input{:type => "password"}/
                  %input#submit{:type => "submit", :value => "SIGN UP"}/
                  %span.mandatory
                    * fields with an asterisk are mandatory
            :javascript
              $(document).ready(function(){
                  $('#tab-container').easytabs();
              });
          .six.columns.align-right
            %span.mandatory +PROCEED TO CHECK OUT AS A GUEST
            = link_to "CONTINUE AS A GUEST", create_guest_user_path, class: "blackbutton"
