%section.content-box
  .container
    #purchase-terms
      %h2.page-title Terms
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus rutrum quam, ac dictum ligula faucibus et. Suspendisse cursus nibh vitae felis porta sagittis. Morbi dignissim ligula nec nisl dictum, et aliquam lacus euismod. Aenean bibendum eros id libero ultrices, eget volutpat libero ullamcorper. Ut eget ullamcorper metus. Fusce lobortis commodo est. Duis sed tortor quis eros cursus vestibulum in ac urna. Praesent faucibus laoreet ipsum et eleifend.
      %p Sed tincidunt egestas velit id sollicitudin. Vestibulum malesuada libero ut risus efficitur malesuada. Nunc sagittis ornare imperdiet. Vestibulum vehicula, nunc et elementum viverra, tellus nibh dapibus nisi, sit amet fermentum mi lorem id dui. Ut molestie nulla id sapien lacinia vehicula. Maecenas vitae lorem quam. Sed volutpat purus vitae pellentesque hendrerit. Nunc vel odio ac lorem ullamcorper molestie vel a nisl. Phasellus orci orci, auctor sed dui at, molestie pellentesque libero. Aliquam molestie condimentum nisl, eu facilisis nisl lobortis vel. Vivamus ex augue, porta at massa ut, molestie lobortis lacus.
      %p Vestibulum facilisis nunc ut metus accumsan iaculis. Vestibulum scelerisque sagittis odio, molestie eleifend velit varius non. In sem neque, efficitur a tellus egestas, auctor faucibus tellus. Phasellus sem erat, ultricies id rutrum ut, mattis at ligula. Etiam nec ex nulla. Maecenas mollis metus ut malesuada vestibulum. Aliquam aliquet placerat dignissim. Vivamus efficitur neque laoreet ultricies ornare. Proin congue non ex sit amet porta. Nam sodales convallis pretium. Suspendisse eu porta justo.
      %p Etiam ullamcorper auctor nibh id convallis. Sed mattis nisl eu quam facilisis molestie. Sed bibendum arcu id metus auctor mollis nec et nibh. Vestibulum et mi congue ipsum hendrerit mollis non et diam. Vivamus varius malesuada tortor nec lacinia. Sed finibus tellus blandit mauris fringilla, eget placerat velit porta. Maecenas gravida, nibh quis feugiat malesuada, ex nunc vestibulum nulla, ut facilisis odio nisi ut lorem. Morbi lacinia justo quis purus euismod viverra. Proin maximus dui tortor, id ornare quam sodales quis.
      %p Proin accumsan sagittis vehicula. Aenean ipsum nibh, porttitor quis venenatis a, egestas eu turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed aliquet varius tempus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sed nisi quis nulla ullamcorper volutpat id sit amet quam. In varius feugiat diam. Fusce posuere in est vehicula volutpat. Phasellus purus ex, ornare vel luctus at, tincidunt sit amet tortor.
      %a{href:"#close", rel:"modal:close", class: "button"} Accept Terms

    :javascript
      $(document).ready(function(){
  
          $('#purchase-terms').modal({
            clickClose: false,
            escapeClose: false,
            showClose: false,
          });

      });

    - if current_or_guest_user

      #checkout-step2
        .row
          .six.columns.align-left
            = form_for @payment_info, url: payment_infos_path, html: { id: "payment-form", "data-stripe-key": "#{ENV['STRIPE_PUBLISHABLE_KEY']}"} do |f|
              %h2.page-title PAYMENT INFO
              %span.mandatory * fields with an asterisk are mandatory
              %p
              %p
                = f.label :first_name, "* FIRST NAME"
                = f.text_field :first_name
              %p
                = f.label :last_name, "* Last NAME"
                = f.text_field :last_name
              %p
                = f.label :street, "* ADDRESS"
                = f.text_field :street
              %p.third
                = f.label :city, "* CITY"
                = f.text_field :city
              %p.third
                = f.label :state, "* STATE"
                = f.text_field :state
              %p.third.last
                = f.label :zipcode, "* ZIPCODE"
                = f.text_field :zipcode
              %p
                = f.label :country, "* COUNTRY"
                = f.text_field :country
              %p
                %span.payment-errors.error
                %label * CARD NUMBER
                %input{:type => "text", size: "20", "data-stripe": "number"}/
              %p.third
                %label * MONTH
                %input{:type => "text", size: "2", "data-stripe": "exp-month", value: @payment_info.exp_month}/
              %p.third
                %label * YEAR
                %input{:type => "text", size: "4", "data-stripe": "exp-year", value: @payment_info.exp_year}/
              %p.third.last
                %label * CVC
                %input{:type => "text", size: "20", "data-stripe": "cvc"}/
              %p
              %h2.page-title CONTACT INFO
              %p
              %p
                = f.label :email, "* EMAIL"
                = f.email_field :email
                = f.submit "NEXT STEP: CONFIRM PURCHASE"
          .six.columns.align-right
            = render 'orders/preview'


    - else
      %h2.page-title CHECK OUT
      #checkout-step1
        .row
          .six.columns.align-left
            #tab-container.sign-tab.tab-container
              %ul.etabs
                %li.tab
                  %a{:href => "#signin"} SIGN IN
                %li.tab
                  %a{:href => "#signup"} SIGN UP
              #signin
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  %p
                    = f.label "EMAIL"
                    = f.email_field :email, autofocus: true
                  %p
                    = f.label "PASSWORD"
                    = f.password_field :password, autocomplete: "off"
                    %span.forgot
                      Forgot your password?
                      = link_to "Send reset instructions", new_password_path(resource_name)
                  = f.submit "Sign in", id: "submit"
                  %span.mandatory
                    * fields with an asterisk are mandatory
              #signup
                %form
                  %p
                    %label FIRST NAME
                    %input{:type => "text"}/
                  %p
                    %label LAST NAME
                    %input{:type => "text"}/
                  %p
                    %label * EMAIL
                    %input{:type => "text"}/
                  %p
                    %label * PASSWORD
                    %input{:type => "password"}/
                  %input#submit{:type => "submit", :value => "SIGN UP"}/
                  %span.mandatory
                    * fields with an asterisk are mandatory
            :javascript
              $(document).ready(function(){
                  $('#tab-container').easytabs();
              });
          .six.columns.align-right
            %span.mandatory +PROCEED TO CHECK OUT AS A GUEST
            = link_to "CONTINUE AS A GUEST", create_guest_user_path, class: "blackbutton"
