%section.content-box.purchased
  .container
    %h2.page-title CART
    #cart
      - @cart.line_items.each do |item|
        %div{:id => "item_#{item.id}", :class => "row item"}
          .three.columns
            = image_tag attachment_url(item.photo, :file, :limit, 270, 270), oncontextmenu: "return false" # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
          .three.columns
            %p
              %strong Image ID:
              = item.photo.id
            %p
              %strong Event:
              = item.photo.event.title
            %h5 Date:
            %p= item.photo.event.date.strftime("%A, %b %d %Y")
          .three.columns
            %p
              %strong LICENSE TYPE:
              = LineItem::license_name(item.delivery_option.license)
            // %p
            //   %b SIZE:
            //   = display_size(item)
            %p
              %strong People:
              = vip_list(item.photo)

          .two.columns
            .change-options
              = link_to "CHANGE LICENSE", edit_line_item_path(item), remote: true, class: "button"
            %h5 ITEM PRICE:
            %span.price= number_to_currency calculate_price(item, dollars: true)
          .one.columns
            = link_to line_item_path(item), method: :delete, remote: true, class: "delete large" do
              &#x2716;
    #resume
      / %p
      /   %label SUBTOTAL:
      /   %span.price= number_to_currency calculate_subtotal(@cart)
      / %p
      /   %label TAX:
      /   %span.price $0.00
      / %p
      /   %label Shipping &amp; Handling:
      /   %span.price= number_to_currency Order::SHIPPING_PRICE
      %p
        %label TOTAL:
        %span#price.price= number_to_currency calculate_subtotal(@cart, dollars: true) #+ Order::SHIPPING_PRICE
      = link_to "CHECK OUT", checkout_path, class: "blackbutton"