%li
  = link_to photo, remote: true, class: "popup-link" do
    = image_tag attachment_url(photo, :file, :limit, 270, 270) # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
  %span.filename #{photo.id}
  / %ul
  /   %li
  /     %a.cart
  /   %li
  /     %a.lamp
  /   %li
  /     %a.download
  %h5
    = link_to "#{photo.event.title}", event_path(photo.event)
  %span.subtitle #{photo.event.sub_title}
  %span.tags
    = vip_list(photo)