%li
  = link_to photo do
    = image_tag attachment_url(photo, :file, :limit, 270, 270), oncontextmenu: "return false" # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
  %span.filename #{photo.id}
  - if current_user.present? && current_user.lightboxes.count > 0
    %ul
      %li
        = link_to "", create_lightbox_photo_path(lightbox_id: nil, photo_id: photo.id), class: :lamp, method: :post, remote: true
  - else
    %ul
      %li
        = link_to "", new_lightbox_path, class: :lamp
      %li
        = form_for LineItem.new do |f|
          = f.hidden_field :photo_id, value: photo.id
          = f.fields_for :delivery_option, DeliveryOption.new do |delivery_option|
            #digital-form-elements
      
              = delivery_option.hidden_field :option_type, value: "digital"
              = delivery_option.hidden_field :license, value: LineItem::editorial_license
              = f.submit "", class: :cart
  /   %li
  /     %a.download
  %h5
    = link_to "#{photo.event.title}", event_path(photo.event)
  %span.subtitle #{photo.event.sub_title}
  %span.tags
    = vip_list_links(photo)