.container
  .row
    .seven.columns
      .image-content
        = image_tag attachment_url(@photo, :file, :limit_watermark_dhpa, 500, 500, @photo.id), oncontextmenu: "return false" # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
    .five.columns
      %p
        %b IMAGE ID:
        = @photo.id
      %p
        %b EVENT:
        = link_to "#{@photo.event.title}", event_path(@photo.event)
        = "(PRIVATE)" if @photo.event.is_private?
      %p
        %b LOCATION:
        = @photo.event.location
      %p
        %b PHOTOGRAPHER:
        = @photo.event.photographer
      %p
        %b COPYRIGHT:
        = @photo.copyright
      %p
        %b DATE:
        = @photo.event.date
      %p
        %b SIZE:
        = display_size_list(@photo)
      %p
        %b PEOPLE:
        = vip_list(@photo)
      %p
        %b KEYWORDS:
        = @photo.tag_list
      = render "line_items/new"

