.container
  .row
    .seven.columns
      .image-content
        = image_tag attachment_url(@photo, :file, :limit_watermark_dhpa, 500, 500, @photo.id), oncontextmenu: "return false" # The only time photo.file should be shown without thumbnailing or watermarking is on the purchase page
    .five.columns
      %p
        %b IMAGE ID:
        = @photo.id
      %p
        %b PEOPLE:
        = vip_list_links(@photo)
      %p
        %b EVENT:
        = link_to "#{@photo.event.title}", event_path(@photo.event)
        = "(PRIVATE)" if @photo.event.is_private?
      %p
        %b LOCATION:
        = @photo.event.location
      %p
        %b PHOTOGRAPHER:
        = @photo.event.photographer
      %p
        %b COPYRIGHT:
        = @photo.copyright
      %p
        %b DATE:
        = @photo.event.date.strftime("%a, %b %d %Y ")
      %p
        %b KEYWORDS:
        = @photo.tag_list
      - if current_user.present? && current_user.lightboxes.count > 0
        %p= link_to "", create_lightbox_photo_path(lightbox_id: nil, photo_id: @photo.id), class: :lamp, method: :post, remote: true
      %br
      %p
        %b SIZE:
        = display_size_list(@photo)
      %p= render "line_items/new"
      %p
        %b HOW CAN I USE IT?
        %br
        AVAILABLE FOR ALL PERMITTED USES UNDER OUR LICENSE TERMS.
      %br
      %p
        %b LICENSE TYPE?
        %br
        RIGHTS-MANAGED
