#lightbox{style: "display:none"}
  - flash.each do |name, msg|
    = content_tag :div, msg, class: "#{name} center flash-box"
  %section.albumbar.carousel
    .container
      .top-images
        - if @lightbox.nil? then @lightbox = current_user.lightboxes.last end
        - if @lightbox.present?
          - @lightbox.lightbox_photos.order(created_at: :desc).each do |lightbox_photo|
            = render lightbox_photo
      %ul.menu
        %li= "#{@response} #{@message}"
        %li= link_to @lightbox.name, lightbox_path(@lightbox)
.align-right
  %a.toggle-lightbox Show Lightbox