%header#header
  .container
    .row
      .four.columns
        %h5
          %a.logo{:href => "/"} DHPA.com
      .eight.columns
        %nav#menu
          %ul
            %li
              = link_to "HOME", root_path
            %li
              = link_to "ABOUT", about_path
            %li
              = link_to "HIRE DHPA", contact_us_path
            %li
              = link_to cart_path, class: "cart", title: "CART" do
                %span#cartcount
                  = @cart.line_items.count
            - if current_user.present?
              %li= link_to "LIGHTBOXES", lightboxes_path
              - if current_user.is_admin?
                %li= link_to "ADMIN", admin_path
              - else
                %li= link_to "PURCHASES", purchases_path
              %li= link_to "LOGOUT", destroy_user_session_path, method: "delete"
            - else
              %li= link_to("", new_user_session_path, class: "user", title: "SIGN IN / SIGN UP")
