%header#header
  .container
    .row
      .four.columns
        %h5
          %a.logo{:href => "/"} DHPA.com
      .eight.columns
        %nav#menu
          %ul
            %li
              = link_to "HOME", root_path
            %li
              = link_to "ABOUT", about_path
            %li
              %a{:href => "#"} HIRE DHPA
            %li
              = link_to "", cart_path, class: "cart", title: "CART"
            %li
              - if current_user.present?
                = link_to "LOGOUT", destroy_user_session_path, method: "delete"
              - else
                = link_to("", new_user_session_path, class: "user", title: "SIGN IN / SIGN UP")
            - if current_user.present? && current_user.is_admin?
              %li
                = link_to "ADMIN", admin_path


