!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - if @event
      %title
        DHPA - 
        = @event.title
    - else
      %title DHPA
    = render 'layouts/favicons'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "#{name} center flash-box"
    = render "layouts/header"
    = yield
    = render "layouts/footer"
    = render "layouts/analytics"
